@import "tailwindcss";
html{
  scroll-behavior: smooth;
}
 .caretakerbox::-webkit-scrollbar{
  width: 0px;
  height: 
  0px;
 }
 .filterslidebar::-webkit-scrollbar{
  background: transparent;
}
.filterslidebar::-webkit-scrollbar-thumb{
  background: #e3e3e3;
  border-radius: 10px;
  
}
 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
